* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body || Background Color */
body {
    background-color: beige;
}

/* Header || Background Color and Padding */
.header {
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    background-color: #353c40;
    color: #353c40;
}

/* Header Title || Font and Background Color */
.header h1 {
    display: inline-block;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    background-color: goldenrod;
}

/* Header Navigation || Font and Position */
.header nav {
    padding-top: 35px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

/* Header Navigation || Positioning and Spacing */
.header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

/* Navigation || Text Color */
a {
    color: goldenrod;
}

/* Header Image */
.hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/goldenrod-flower.png");
    background-size: cover;
    background-position: 27% 27%;
}

/* Article || Width and Padding */
.content {
    width: 100vw;
    padding: 5%;
}

/* About Me || Sizing and Text Color */
.about-me {
    height: 250px;
    width: 100%;
    display: flex;
    color: #585a5e;
}

/* About Me Title || Font and Verticle Line */
.about-me h2 {
    padding: 3% 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border-right: #353c40 solid 3px;
}

/* About Me Description || Positioning */
.about-me p {
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.work {
    height: 250px;
    padding-right: 20px;
    background-color: rgb(226, 226, 226);
    color: #585a5e;
}

.contact-me {
    height: 250px;
    padding-right: 20px;
    background-color: rgb(202, 202, 202);
    color: #585a5e;
}

.work h2 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.contact-me h2 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}