* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

.header {
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #353c40;
    color: #353c40;
}

.header h1 {
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
    font-size: 48px;
    background-color: goldenrod;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: goldenrod;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/goldenrod-flower.png");
    background-size: cover;
    background-position: 27% 27%;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}