* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body || Background Color */
body {
    background-color: beige;
}

/* Header || Background Color and Padding */
.header {
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    background-color: #353c40;
    color: #353c40;
}

/* Header Title || Font and Background Color */
.header h1 {
    display: inline-block;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    background-color: goldenrod;
}

/* Header Navigation || Font and Position */
.header nav {
    padding-top: 35px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

/* Header Navigation || Positioning and Spacing */
.header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

/* Navigation || Text Color */
a {
    color: goldenrod;
}

/* Header Image */
.hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/goldenrod-flower.png");
    background-size: cover;
    background-position: 27% 27%;
}

/* Article || Width and Padding */
.content {
    width: 100vw;
    padding: 5%;
}

/* About Me || Sizing and Text Color */
.about-me {
    height: 250px;
    width: 100%;
    display: flex;
    margin-bottom: 5%;
    color: #585a5e;
}

/* About Me Title || Font and Verticle Line */
.about-me h2 {
    min-width: 15vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border-right: #353c40 solid 5px;
}

/* About Me Description || Positioning */
.about-me p {
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* Work || Sizing and Text Color */
.work {
    height: 250px;
    width: 100%;
    display: flex;
    margin-bottom: 5%;
    color: #585a5e;
}

/* Work Title || Font and Verticle Line */
.work h2 {
    width: 15vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border-right: #353c40 solid 5px;
}

/* Contact Me || Sizing and Text Color */
.contact-me {
    height: 250px;
    width: 100%;
    display: flex;
    margin-bottom: 5%;
    color: #585a5e;
}

/* Contact Me Title || Font and Verticle Line */
.contact-me h2 {
    width: 15vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border-right: #353c40 solid 5px;
}

.contact-me nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.contact-me nav ul li {
    display: inline-block;
    padding: 100px;
}

b {
    color: #585a5e;
}

/* Resume || Sizing and Text Color */
.resume {
    height: 250px;
    width: 100%;
    display: flex;
    color: #585a5e;
}

/* Resume Title || Font and Verticle Line */
.resume h2 {
    width: 15vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border-right: #353c40 solid 5px;
}